{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    <link rel="stylesheet" href="{% static 'css/LRStyle.css' %}" />
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>
    <div class="container">
        <div class="box-container">
            <form method="POST" action="{% url 'reset-password' %}">
                {% csrf_token %}
                <input type="hidden" name="uid" value="{{ uid }}">
                <input type="hidden" name="token" value="{{ token }}">
                <div class="form-container">
                    <div class="welcome-text">Reset Your Password</div><br>
                    
                    <div class="input-wrapper password">
                        <input type="password" placeholder="New Password" name="password" class="input-background" required>
                    </div>
                    
                    <div class="input-wrapper password">
                        <input type="password" placeholder="Confirm Password" name="cpassword" class="input-background" required>
                    </div>
                    
                    <button class="continue-button">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</body>
<footer class="footer">
    <p class="footer-text">© 2024 Coding Nexus. All Rights Reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script>
    // Initialize Notyf
    var notyf = new Notyf({
        position: {
          x: 'center', 
          y: 'top',     
        }
      });
  
    // Function to display notifications
    function showSuccessMessage(message) {
      notyf.success(message);
    }
  
    function showErrorMessage(message) {
      notyf.error(message);
    }
  </script>
  
  <!-- In this case, using Django's messages framework -->
  {% if messages %}
    <script>
      {% for message in messages %}
        {% if message.tags == 'success' %}
          showSuccessMessage("{{ message }}");
        {% elif message.tags == 'error' %}
          showErrorMessage("{{ message }}");
        {% endif %}
      {% endfor %}
    </script>
  {% endif %}
</html>
