* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
   
  .nav-section {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    flex-grow: 0.5;
}

.nav-item {
    color: black;
    font-size: 18px;
    white-space: nowrap;
}

.small-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
}

.mobile-nav-items .nav-item {
    padding: 10px;
    text-align: center;
}

/* Mobile search bar */
.mobile-search {
    display: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.mobile-search input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mobile-search button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
}

.nav-item a.active {
  color: #972726; /* Highlight the active link */
  font-weight: bold; /* You can add more styles for the active state */
}

.nav-item a:hover {
  color: #972726; /* Change color on hover */
  
}

@media (max-width: 768px) {
    .hamburger-icon {
        display: block;
    }

    .nav-items {
        display: none;
    }

    .small-icon {
        display: none;
    }

    .mobile-search {
        display: flex; /* Show search bar on small screens */
        position: absolute;
        top: 70px; /* Position at 50% from the top of the viewport */
        left: 50%; /* Position at 50% from the left of the viewport */
        transform: translate(-50%, -50%); /* Move the element back by 50% of its own width and height to center it */
        width: 70%; /* Set width to 60% for responsiveness */
        justify-content: center; /* Center the contents horizontally */
        align-items: center; /* Center the contents vertically */
    }
    

    .mobile-nav-items {
        display: none;
    }

    .mobile-nav-items.open {
        display: flex;
    }
}

@media (min-width: 769px) {
    .mobile-search {
        display: none; /* Hide search bar on larger screens */
    }
}

/* nav end */
.container {
    width: 100%;
    padding: 20px;
}

label.radio {
    cursor: pointer;
}

label.radio input {
    position: absolute;
    top: 0; 
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    padding: 8px 12px;
    border: 1px solid #dc3545; /* Bootstrap danger color */
    display: inline-block;
    color: #dc3545; /* Bootstrap danger color */
    width: auto; /* Adjusted to fit content */
    text-align: center;
    border-radius: 5px;
    margin-top: 7px;
    text-transform: uppercase;
    transition: all 0.3s;
}

label.radio input:checked + span {
    border-color: #dc3545; /* Bootstrap danger color */
    background-color: #dc3545; /* Bootstrap danger color */
    color: #fff;
}

.ans {
    margin-left: 20px; /* Adjusted margin for consistency */
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.btn:active {
    outline: 0 !important;
    box-shadow: none !important;
}
